body {
    border: 2px dotted black;
    margin: 1px;

    font-family: Verdana, arial, sans-serif;
    font-size: medium;
    font-weight: lighter;
    width: 1366px;


}

.m-5 {
    margin: 5px;
}

header {


    /* height: 100px; */
    background-color: rgb(236, 231, 231);
    margin: 1px;
}

.header-top {
    height: 116px;
    background-color: rgb(242, 245, 247);
    margin: 1px;
    width: 1366px;
}

.header-top .left-sec .box {
    border: 1px dotted black;
    margin: 5px;
    align-items: center;
    width: 15%;
    float: left;
}

.header-top .right-sec .box {
    border: 1px dotted black;
    align-items: center;
    width: 3%;
    float: right;
    margin: 5px;
}

.header-logo {
    height: 84px;
    background-color: rgb(241, 245, 245);
    font-family: Verdana, Tahoma, sans-serif;
    align-items: center;
    text-align: center;
    font-size: 70px;
    font-family: "Trirong", serif;
    margin: 1px;
    width: 1366px;
}

.header-nav {
    background-color: rgb(247, 249, 245);
    height: 50px;
    margin: 1px;
    width: 1366px;


}

.header-nav ul {
    list-style: none;
    margin: 1px;
    float: left;
    word-spacing: 5px;

}

.header-nav ul li {
    display: inline-block;
    word-spacing: 5px;

}

.header-nav ul li a {
    color: black;
    font-size: 1.01rem;
    word-spacing: 5px;
    margin-top: 8px;

}

hr {
    background: black;
    border: 0;
    height: 2px;

}

.main  {
    border: 1px dotted black;
    margin: 5px;
    background-color: white;
    height: 1100px;
    width: 1350px;

}





.header-top.box {
    border: 1px dotted black;
    margin: 10px;
    align-items: center;
    justify-items: flex-start;
    width: 10%;
    float: inline-end;
}



ul {
    display: flex;
    justify-content: center;
    float: right;
}

ul li {
    list-style: none;
    margin: 10px;

    float: right;
    

}

ul li a {
    text-decoration: none;
    color: rgb(8, 7, 7);
    justify-content: space-between;
}

ul li a:hover {
    word-spacing: 10px;
    color: red;
    font-size: 1.01rem;
}
/* Dropdown Button */

  
  
  
  
  /* Dropdown Content (Hidden by Default) */
 
/* Dropdown Button */
.dropbtn {
    background-color: white;
    color: rgb(12, 12, 12);
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ec1313;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #f81010;}
  
.main div .right-side {
    border: 1px dotted black;
    margin: 30px;
    width: 800px;
    height: 500px;
}

.main div .right-side img {
    height: 500px;
    width: 740px;
}

.main div .right-side .text {
    border: 1px dotted;
    
    height: 100px;
    width: 800px;
    position: absolute;
    bottom: -380px;
    font-family: Impact;
    font-size: 45px;
    color: white;
    text-align: center;
    margin: 30px;

}
.main div .left-side {
    border: 1px dotted black;
    height: 1000px;
    width: 400px;
    margin: 20px;
    float: right;
    position: sticky;
    bottom: 500px;
    clear: inline-end;
}

.main div .left-side .img-box {
    border: 1px dotted black;
    height: 302px;
    width: 388px;
    margin: 5px;

}
.main div .left-side .text {
    border: 1px dotted;
    height: 73px;
    width: 388px;
    position: absolute;
    bottom: 500px;
    
}
.main .cards{
    border: 1px dotted black;
    margin: 30px;
    height: 500px;
    width: 800px;
}
.main .cards .cards-right {
    border: 1px dotted black;
    margin: 10px;
    height: 457px;
    width: 341px;
    

}
.main .cards .cards-right .small-card {
    border: 1px dotted black;
    height: 125px;
    width: 341px;
}
.main .cards .cards-right .small-card .text {
    border: 1px dotted black;
    height: 90px;
    width: 129px;
    
    
}
.main .cards .cards-right .small-card .img {
    border: 1px dotted black;
    height: 90px;
    width: 129px;
    float: right;
    margin: 10px;
    
    
}

.main .cards .cards-left {
    border: 1px dotted black;
    margin: 10px;
    height: 457px;
    width: 341px;
    float: right;
    position: sticky;
    bottom: 500px;
    clear: inline-end;
    
}

.main .cards .cards-left .small-card {
    border: 1px dotted black;
    height: 113px;
    width: 341px;

}

.main .cards .cards-left .small-card .img {
    border: 1px dotted black;
    height: 90px;
    width: 129px;
    float: right;
    margin: 10px;
}
footer {
    border: 1px dotted black;
    margin: 5px;
    background-color: rgb(249, 249, 248);
    height: 140px;
    margin: 10px;
}