.container {
    margin: 10px;
    padding: 2px;
    background: black;
    border: 2px solid black;
    height: 400px;
    width: 250px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.operator {
    padding: 20px;
    margin: 3px 3px;
    border: 2px solid red;
    border-radius: 9px;
    
}

button {
    padding: 20px;
    margin: 3px 3px;
    border: 2px solid red;
    border-radius: 9px;
    
}
    

.row input {
    margin: 10px;
    padding: 10px 38px;
    border: 2px solid black;
    border-radius: 5px;
}
